{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h2>HOW TO REACH HBTU EAST CAMPUS</h2>
    <p>HBTU Kanpur is situated in old Nawabganj area of the city. It is approximately at a distance of 9 kilometers from Kanpur Central Railway Station and Jhakarkati Bus Stand. You can either hire a cab from uber or ola or you can book an auto. Chandra Shekher Azad University of Agriculture & Technology, GSVM Medical College, Kanpur Zoo, Campany Bagh and Rawatpur Railway Station etc. are in close vicinity of the University.</p>
    <br>
    <h2>MAPS & LOCATION</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3570.7835445690316!2d80.30169801453894!3d26.494913384330207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399c3843a7cc28b1%3A0xbafa167532b0ca65!2sHBTU%20East%20Campus!5e0!3m2!1sen!2sin!4v1584965930850!5m2!1sen!2sin" width="1500" height="450" frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0" align="center"></iframe>
    <br>
    <h2></h2>
</div>
{% endblock %}