{% extends "base.html" %}
{% block content %}

<div class="container" style="padding:35px 70px 50px 300px;" >
    <div class="jumbotron" style="background-color:#ffffff ;height: 600px;width:500px;">
    <h1 align="center" style="color:black">Signup Portal</h1>

        {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    {% endfor %}
<form method="POST" action="/register" >
    {{form.hidden_tag()}}
    {{form.email.label (style="color:black") }}{{form.email(class="form-control form-control-lg",placeholder="Enter Email")}}<br>
    {{form.password.label (style="color:black")}}{{form.password(class="form-control form-control-lg" ,placeholder="Password")}}<br>
    {{form.role.label (style="color:black")}}{{form.role(class="form-control form-control-lg" ,placeholder="Student/Teacher")}}<br>
    {{form.submit(class="btn btn-danger btn-raised btn-lg")}}
</form>


        </div>
    </div>
{% endblock content %}